<!-- IF U_MANAGEMENT_PAGE -->

<!-- INCLUDEJS https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js -->
<!-- INCLUDEJS https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js -->
<!-- INCLUDEJS @taitai42_certifications/js/jquery.timepicker.min.js -->
<!-- INCLUDEJS @taitai42_certifications/js/jquery.datepair.min.js -->
<!-- INCLUDEJS @taitai42_certifications/js/management.js -->
<!-- ELSE -->
<!-- INCLUDEJS @taitai42_certifications/js/certif.js -->
<!-- ENDIF -->