<!-- INCLUDE overall_header.html -->

<h2>Certifications</h2>

<h3> félicitations, vous remplissez toutes les conditions requises pour la certifications !</h3>

<br><br>
<p> texte qui decris comment c'est trop un avantage de fou d'etre certifie parce que ca rapporte des millions pour se
    payer de la coke et un yacht
</p>

<p> Pour proceder a votre certifications, veuillez remplir le formulaire ci-dessous, une administratrice vous contactera
    ensuite
    pour ... du blabla qui explique la procedure de verification</p>

{% if loops.creneaux|length > 0 %}
<form action="" method="POST" enctype="multipart/form-data">

    <fieldset>
        <dl>
            <dt>
                Photo preuve
            </dt>
            <dd>
                <input type="file" name="id" id="avatar_upload_file" class="inputbox autowidth">
            </dd>


        </dl>

        <dl>
            <dt>
                Choisir un creneau
            </dt>
            <dd>
                {% set data = "" %}
                {% for slot in loops.creneaux %}
                    {% if slot['date_start'] is not same as(data) %}
                {% if loop['index0'] > 0%} <br><br> {%endif%}
                        {% set data = slot['date_start']%}
                        <b>{{ data}} </b><br>
                    {% endif %}
                <h4 style="display: inline"><span data-id="{{slot['creneaux_id']}}"
                                                  class="label label-default">{{slot['time_start']}} - {{slot['time_end']}} </span>
                </h4>
                {% endfor %}
                <input type="hidden" name="slot">
            </dd>


        </dl>
        <dl>
            <dt>
                Soumettre
            </dt>
            <dd>
                <input style="text-align: center" type="submit" value="soumettre la demande">
            </dd>


        </dl>
    </fieldset>
</form>
{% else %}
<p>Desole, il n'y a aucun creneau de certification disponible pour le moment, veuillez revenir plus tard
    ou contacter un membre du comite de certification!</p>
{% endif %}
<!-- INCLUDE overall_footer.html -->
