<!-- INCLUDE overall_header.html -->

<h2>Certifications</h2>

{% if interview is defined %}
<br><br>
<h2>Votre entretien de certification est programme le {{ interview['date']}} avec <a target="_blank" href="/memberlist.php?mode=viewprofile&u={{interview['interviewer_id']}}" style="color: #{{interview['interviewer_colour']}}">{{ interview['interviewer_name']}}</a></h2>

<br><br>
{%endif%}
<h3> félicitations, vous remplissez toutes les conditions requises pour la certifications !</h3>

<br><br>

<p>La certification vous apporte le grade de "certifiée". Ce grade colore votre pseudo en rose et prouve à l'ensemble des utilisateurs que vous êtes une femme. Attention, ce grade ne concerne que votre sexe, et n'est pas un examen d'aptitude.<br>
  Pensez à prévoir une carte d'identité en cas de doute sur votre âge. Pour rappel, les mineurs ne sont pas tolérés.
   
</p>

<p>
Hébergez votre Photo Preuve en cliquant sur "Parcourir". Pour votre photo preuve, il vous faudra prendre une photo de vous avec votre pseudo et la date du jour écris sur un papier. Toute photo illisible se verra refusée. Les photos ne sont pas conservées.
</p>
<p>

  En choisissant un créneau, vous vous engagez à le respecter. En cas d’indisponibilité, pensez à prévenir la membre du comité qui s'occupe de vous !</p>
<hr><br><br>

    {% if loops.creneaux|length > 0%}
    <form action="" method="POST" enctype="multipart/form-data">

        <fieldset>
            <dl>
                <dt>
                    Photo preuve
                </dt>
                <dd>
                    <input type="file" name="id" id="avatar_upload_file" class="inputbox autowidth" required>
                </dd>


            </dl>

            <dl>
                <dt>
                    Choisir un creneau
                </dt>
                <dd>
                    {% set data = "" %}
                    {% for slot in loops.creneaux %}
                        {% if slot['date_start'] is not same as(data) %}
                    {% if loop['index0'] > 0%} <br><br> {%endif%}
                            {% set data = slot['date_start']%}
                            <b>{{ data}} </b><br>
                        {% endif %}
                    <h4 style="display: inline"><span data-id="{{slot['creneaux_id']}}"
                                                      class="label label-default">{{slot['time_start']}} - {{slot['time_end']}} </span>
                    </h4>
                    {% endfor %}
                    <input type="hidden" name="slot" required>
                </dd>


            </dl>
            <dl>
                <dt>
                    Soumettre
                </dt>
                <dd>
                    <input style="text-align: center" type="submit" value="soumettre la demande">
                </dd>


            </dl>
        </fieldset>
    </form>
    {% else %}
    <p>Desole, il n'y a aucun creneau de certification disponible pour le moment, veuillez revenir plus tard
        ou contacter un membre du comite de certification!</p>
    {% endif %}
<!-- INCLUDE overall_footer.html -->
